/*html and body stylings*/

html,
body {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/*align all headings and paragraph text*/

/*Grid Container*/

.grid-container {
    display: grid;
    grid-gap: 1em;
}

/*Grid Items and HTML5 Semantic Layout Selectors*/

header {
    grid-column: 1 / span 1;
    grid-row: 1;
    display: grid;
}

nav {
    grid-column: 1 / span 1;
    grid-row: 2;
    border-block-end: solid #000 5px;
    border-block-start: solid #000 5px;
}

main {
    grid-column: 1 / span 1;
    grid-row: 3 / span 6;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 9;
}

/*logo*/

#header {
    grid-column: 2 / span 1;
    grid-row: 1;
    display: flex;
    align-self: center;
    justify-self: flex-start;
    line-height: 3em;
}

#subheader {
    grid-column: 2 / span 1;
    grid-row: 1;
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
}

.logo {
    grid-column: 1 / span 1;
    grid-row: 1;
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

/*nav bar stylings*/

#nav-list {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    list-style-type: none;
}

.project-showcase h2,
h3,
.about-me h2 {
    text-align: center;
}