@import url('https://fonts.googleapis.com/css?family=Skranji');
/*Responsive Image Adjustment*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Grid Container*/

.grid-container {
    display: grid;
    grid-gap: 1em;
}

/*Grid Items and HTML5 Semantic Layout Selectors*/

header {
    grid-column: 1 / span 1;
    grid-row: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

nav {
    grid-column: 1 / span 1;
    grid-row: 2;
   
}

main {
    grid-column: 1 / span 1;
    grid-row: 3;
    display: flex;
    flex-flow: column wrap;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px;
}

/*Grid Items - Header and Logo*/

#header {
    flex: 1;
    order: 0;
    font-family: 'Skranji', cursive;
}

#subheader {
    flex: 1;
    order: 2;
    font-family: 'Skranji', cursive;
}

.logo {
    flex: 1;
    order: 1;
}

/*nav bar stylings*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 2px 0; 
    border-style: dotted; 
    border-color: #fff;
    border-radius: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #c3d;
}

.active {
background-color: #000;
}

/*About Me and Showcase Stylings*/

.about-me {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.project-showcase {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

/*Misc Headings, Text and Img Stylings*/

h2,
h3,
p {
    text-align: center;
}

.pic0,
.pic1,
.pic2,
.biopicture {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}