@media screen and (min-width: 750px) {
    .grid-container {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-gap: 1em;
    }

    header {
        grid-column: 1 / span 2;
    }

    nav {
        grid-column: 1 / span 2;
    }

    main {
        grid-column: 1 / span 2;
        grid-row: 3;
        display: grid;
        align-items: center;
        grid-gap: 2em;
    }

    .about-me {
        grid-column: 1 / span 1;
        display: flex;
        grid-row: 1;
        flex-flow: column wrap;
    }

    .project-showcase {
        grid-column: 2 / span 1;
        grid-row: 1;
        display: flex;
        flex-flow: column wrap;
    }
    
    footer {
        grid-column: 1 / span 2;
        grid-row: 4;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}